header {
    width: 100vw;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header ul li {
    display: inline;
    padding: 0px;
}

.headerItem {
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    background-color: grey;
    border-radius: 8px
    
}